<div class="footer">
    <br>
    <div class="section">
        <a href="/">Home</a>
        <a href="#">Jobs</a>
        <a href="/company/about">About</a>
        <% if(loggedin == true) { %>
        <a href="/logout">Logout</a>
        <% } else {} %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a>
        <% } else {} %>
        <span id="premium"></span>
        <p>&copy; 2020 to Present, <a href="/about"><%= name %></a> | V<span id="version"></span></p>
        <script>
            version('version')
            premium('premium')
        </script>
    </div>
</div>