<div class="footer">
    <div class="row">
        <div class="dontshrinkcolumn" style="padding-left: 30px;">
            <h3 class="noheader nobottompadmar navfooanoleftpad" style="margin-left: 0;">Siddes.com</h3><br>
            <span class="section"><br>
                <a href="/" class="">Home</a><br>
                <a href="https://blog.siddes.com" class="">A Privacy Blog</a><br>
                <% if(loggedin == true) { %>
                <a class="" href="/logout">Logout</a><br>
                <% } else {} %>
                <% if(moderator == true) { %>
                <a class="" href="/mod">Moderators</a><br>
                <% } else {} %>
                <a href="/company/howto" class="">How to Use <%= name %></a><br>
                <a href="/sitemap.xml" class="">Sitemap</a>
            </span>
        </div>
        <div class="dontshrinkcolumn" style="padding-left: 30px;">
            <h3 class="noheader nobottompadmar navfooanoleftpad" style="margin-left: 0;">Company</h3><br>
            <span class="section"><br>
                <a href="/company" class="">Company</a><br>
                <a href="/company/analytics" class="">Analytics</a><br>
                <a href="/company/status" class="">Status</a><br>
                <a href="#" class="">Jobs</a><br>
                <a href="/company/tos" class="">Terms of Service</a><br>
                <a href="/company/pp" class="">Privacy Policy</a>
            </span>
        </div>
    </div>
</div>
<br>
<script>
    version('version')
    premium(['premiumsidebar'])
</script>