<a href="/">Home</a>
<% if(loggedin == true) { %>
<a href="/logout">Logout</a>
<% } else {} %>
<% if(moderator == true) { %>
<a href="/mod">Moderators</a>
<% } else {} %>
<a>&copy; 2020 to Present <%= name %></a>