<div class="footer">
    <br>
    <div class="section">
        <a href="/">Home</a>
        <a class="navfooanoleftpad" href="#">Jobs</a>
        <a class="navfooanoleftpad" href="/company/about">About</a>
        <% if(loggedin == true) { %>
        <a class="navfooanoleftpad" href="/logout">Logout</a>
        <% } else {} %>
        <% if(moderator == true) { %>
        <a class="navfooanoleftpad" href="/mod">Moderators</a>
        <% } else {} %>
        <a class="navfooanoleftpad" href="/company/howto">How to Use <%= name %></a>
        <span id="premium"></span>
        <p>&copy; 2020 to Present, <a class="navfooanoleftpad" href="/company/about"><%= name %></a> | <button
                class="versionlink" onclick="window.location.href='/company/releases'">Beta
                V<span id="version"></span></button></p>
        <script>
            version('version')
            premium(['premium', 'premiumsidebar', 'premiumsidebarext'])
        </script>
    </div>
</div>