<a href="/">Home</a>
<a href="#">Jobs</a>
<% if(loggedin == true) { %>
<a href="/logout">Logout</a>
<% } else {} %>
<% if(moderator == true) { %>
<a href="/mod">Moderators</a>
<% } else {} %>
<p>&copy; 2020 to Present, <a href="/about"><%= name %></a> | V<span id="version"></span></p>
<script>
    version('version')
</script>