<div class="sidebar dotted">
    <form action="/search" method="GET" style="width: 90%;margin-left: auto;margin-right: auto;display: block;">
        <input name="q" type="text" placeholder="Search <%= name %>" style="width: 95%;">
    </form>
    <div class="rounddiv">
        <div class="borderbottom">
            <h3 class="smallheader">What's Going On</h3>
        </div>
        <div class="trendingitem">

        </div>
        <a href="/trending">Show More</a>
    </div>
    <span>
        <a href="/">Home</a><br>
        <a href="#">Jobs</a><br>
        <% if(loggedin == true) { %>
        <a href="/logout">Logout</a><br>
        <% } else {} %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <br>
        <a>&copy; 2020 to Present <%= name %></a>
    </span>
</div>
<div class="navbar sidebarleft">
    <a href="/">Home</a>
    <% if(loggedin == true) { %>
    <a href="/account">Account</a> <a href="/account/edit">Edit Account</a> <a href="javascript:newPost('show')">New</a>
    <% } else { %>
    <a href="/login">Login</a> <a href="/signup">Register</a>
    <% } %>
</div>