<div class="sidebar">
    <form action="/search" method="GET" style="width: 90%;margin-left: auto;margin-right: auto;display: block;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>" style="width: 95%;">
    </form>
    <br>
    <span class="sidebartextsection">
        <a href="/home">Home</a><br>
        <% if(loggedin == true) { %>
        <a href="/account/edit">Settings</a><br>
        <a href="/logout">Logout</a><br>
        <% } else if(loggedin == false) { %>
        <a href="/login">Login</a><br>
        <a href="/signup">Register</a><br>
        <% } %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <a href="/company/bugs">Report a Bug</a><br>
        <a href="/company">Company</a><br>
        <a href="/company/tos">Terms of Service</a><br>
        <a href="/company/pp">Privacy Policy</a><br>
        <span id="premiumsidebar"></span><br><br>
        <p class="sidetext">&copy; 2020 to Present, <a class="navfooanoleftpad" href="/company"><%= name %></a></p>
        <br>
    </span>
</div>
<div class="sidebar sidebarextension hidden" id="sidebarext">
    <form action="/search" method="GET" style="width: 90%;margin-left: auto;margin-right: auto;display: block;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>" style="width: 80%;">
        <button class="button" type="submit">Search</button>
    </form>
    <br>
    <button onclick='showmenu("hide")' class="button">Close Menu</button>
    <br><br>
    <span class="">
        <a href="/home">Home</a><br>
        <% if(loggedin == true) { %>
        <a href="/account/edit">Settings</a><br>
        <a href="/logout">Logout</a><br>
        <% } else if(loggedin == false) { %>
        <a href="/login">Login</a><br>
        <a href="/signup">Register</a><br>
        <% } %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <a href="/company/bugs">Report a Bug</a><br>
        <a href="/company">Company</a><br>
        <a href="/company/tos">Terms of Service</a><br>
        <a href="/company/pp">Privacy Policy</a><br>
        <span id="premiumsidebarext"></span><br><br>
        <span>
            <p class="sidetext">
                &copy; 2020 to Present, <a class="navfooanoleftpad" href="/company"><%= name %></a>
            </p>
        </span>
    </span>
</div>
<div class="navbar">
    <!--<a href="/"><img style="width:15px" src="https://static-cdn.siddes.com/logo-transparent.png" alt="Siddes"
            title="Siddes"></a>-->
    <a href="/">Siddes</a>
    <% if(loggedin == true) { %>
    <a href="/home">Feed</a>
    <a href="/latest">Latest</a>
    <a href="/account">Account</a>
    <a href="javascript:newPost('show')">New</a>
    <% } else { %>
    <a href="/latest">Latest</a>
    <a href="/login">Login</a>
    <a href="/signup">Register</a>
    <% } %>
    <span>
        <a id="dropdown" class="right" href="javascript:showmenu('show')">Menu</a><br>
    </span>
</div>