<div class="sidebar">
    <form action="/search" method="GET" style="width: 90%;margin-left: auto;margin-right: auto;display: block;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>" style="width: 95%;">
    </form>
    <br>
    <span class="sidebartextsection">
        <a href="/home">Home</a><br>
        <a href="#">Jobs</a><br>
        <a href="/company/about">About</a><br>
        <% if(loggedin == true) { %>
        <a href="/logout">Logout</a><br>
        <% } else if(loggedin == false) { %>
        <a href="/login">Login</a><br>
        <a href="/signup">Register</a><br>
        <% } %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <a href="/company/bugs">Report a Bug</a><br>
        <span id="premiumsidebar"></span><br><br>
        <p class="sidetext">&copy; 2020 to Present, <a class="navfooanoleftpad" href="/company/about"><%= name %></a>
        </p>
    </span>
</div>
<div class="navbar">
    <% if(loggedin == true) { %>
    <a href="/home">Feed</a>
    <a href="/latest">Latest</a> <a href="/account">Account</a> <a href="/account/edit">Edit Account</a> <a
        href="javascript:newPost('show')">New</a>
    <% } else { %>
    <a href="/latest">Latest</a>
    <a href="/login">Login</a>
    <a href="/signup">Register</a>
    <% } %>
</div>