<div class="sidebar">
    <span class="sidebartextsection">
        <form action="/search" method="GET" style="width: 100%;">
            <input name="q" type="text" class="input" placeholder="Search <%= name %>"
                style="width: 90%;margin-bottom: 8px;margin:auto;display: block;">
        </form>
        <br>
        <span id="thelatestcontainer">
            <button class="sidebarbutton" style="text-align: left;border-radius: 10px;">
                The Latest
                <br><br>
                <div class="expandcommentdiv latest" style="width: 95%;display: block;margin: auto;">

                </div>
            </button>
        </span>
        <span id="thelatestcontainer">
            <button class="sidebarbutton" style="text-align: left;border-radius: 10px;">
                Boards
                <br><br>
                <div class="expandcommentdiv boards" style="width: 95%;display: block;margin: auto;">

                </div>
            </button>
        </span>
        <br>

        <p class="sidetext smalltext">
            &copy; 2020
            <a class="navfooanoleftpad" href="/company">
                <%= name %>
            </a>
            •
            <a class="navfooanoleftpad" href="/account/developer/home">
                Developer
            </a>
            •
            <a class="navfooanoleftpad" href="/account/developer/docs">
                Contact
            </a>
            •
            <button class="versionlink smalltext" onclick="window.location.href='/company/releases'">
                Beta V<span id="version"></span>
            </button>
        </p>
    </span>
</div>
<script>
    showlatestposts('latest')
    showboards('boards')
</script>
<div class="sidebarleft">
    <span class="sidebartextsection">
        <% if(loggedin == true) { %>
        <button class="sidebarbutton" onclick="url('/home/0')"><i class="fa fa-home"></i></button>
        <button class="sidebarbutton" onclick="url('/notifications')"><i class="fa fa-bell"></i></button>
        <button class="sidebarbutton" onclick="url('/latest')"><i class="fa fa-clock"></i></button>
        <% } else if(loggedin == false) { %>
        <button class="sidebarbutton" onclick="url('/latest')"><i class="fa fa-clock"></i></button>
        <button class="sidebarbutton" onclick="url('/login')"><i class="fas fa-sign-in-alt"></i></button>
        <button class="sidebarbutton" onclick="url('/signup')"><i class="fas fa-user-plus"></i></button>
        <% } %>
        <% if(moderator == true) { %>
        <button class="sidebarbutton" onclick="url('/mod')"><i class="fas fa-gavel"></i></button>
        <% } %>
        <button class="sidebarbutton" onclick="showmenu('show')" id="showmenu"><i class="fa fa-bars"></i></button>
        <span id="premiumsidebar"></span><br><br>
        <span class="sidebarleftbottom" onclick="leftmenu()">
            <% if(loggedin == true) { %>
            <button class="sidebarbutton profileclick" style="padding: 5px;">
                <img width="40px" src="/account/pfp" class="">
            </button>
            <button class="sidebarbutton hidden" id="leftmenusection">
                <span class="">
                    <% if(loggedin == true) { %>
                    <a class="button linkbutton" href='javascript:newPost("show")'><i class="fa">New
                            Post</i></a><br><br>
                    <a class="button linkbutton" href='javascript:messages("open")'><i
                            class="fa">Messages</i></a><br><br>
                    <a class="button linkbutton" href='/account/edit'><i class="fa">Settings</i></a><br><br>
                    <a class="button linkbutton" href='/account'><i class="fa">Account</i></a><br><br>
                    <a class="button linkbutton" href='/logout'><i class="fa">Logout</i></a><br>
                    <% } %>
                </span>
            </button>
            <% } %>
        </span>
    </span>
</div>
<div class="sidebar sidebarextension hidden" id="sidebarext">
    <form action="/search" method="GET"
        style="width: 90%;margin-left: auto;margin-right: auto;display: block;padding: 5px;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>" style="width: 80%;">
        <button class="button" type="submit">Search</button>
    </form>
    <br>
    <button onclick='showmenu("hide")' class="button">Close Menu</button>
    <br><br>
    <span class="">
        <a href="/home">Home</a><br>
        <% if(loggedin == true) { %>
        <a href="/account/edit">Settings</a><br>
        <a href="/logout">Logout</a><br>
        <% } else if(loggedin == false) { %>
        <a href="/login">Login</a><br>
        <a href="/signup">Register</a><br>
        <% } %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <a href="/company/bugs">Report a Bug</a><br>
        <a href="/company">Company</a><br>
        <a href="/company/tos">Terms of Service</a><br>
        <a href="/company/pp">Privacy Policy</a><br>
        <span id="premiumsidebarext"></span><br><br>
        <button class="sidebarbutton" style="text-align: left;border-radius: 10px;width: 35%;">
            The Latest
            <br><br>
            <div class="expandcommentdiv latest" style="width: 95%;display: block;margin: auto;">

            </div>
        </button>
        <span>
            <p class="sidetext">
                &copy; 2020 to Present, <a class="navfooanoleftpad" href="/company"><%= name %></a>
            </p>
        </span>
    </span>
</div>