<div class="sidebar">
    <span class="sidebartextsection">
        <span id="thelatestcontainer">
            <button class="sidebarbutton" style="text-align: left;border-radius: 10px;">
                The Latest
                <br><br>
                <div class="expandcommentdiv latest" style="width: 95%;display: block;margin: auto;">

                </div>
            </button>
        </span>

        <p class="sidetext smalltext">
            &copy; 2020
            <a class="navfooanoleftpad" href="/company">
                <%= name %>
            </a>
            •
            <a class="navfooanoleftpad" href="/account/developer/home">
                Developer
            </a>
            •
            <a class="navfooanoleftpad" href="/account/developer/docs">
                Contact
            </a>
            •
            <button class="versionlink smalltext" onclick="window.location.href='/company/releases'">
                Beta V<span id="version"></span>
            </button>
        </p>
    </span>
</div>
<script>
    showlatestposts('latest')
</script>
<div class="sidebarleft">
    <form action="/search" method="GET" style="width: 90%;margin-left: auto;margin-right: auto;display: block;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>"
            style="width: 91%;padding: 8px;margin-bottom: 8px;">
    </form>
    <span class="sidebartextsection">
        <button class="sidebarbutton" onclick="url('/home')"><i class="fa fa-home"></i></button>
        <% if(loggedin == true) { %>
        <button class="sidebarbutton" onclick="newPost('show')"><i class="fa fa-pen"></i></button>
        <button class="sidebarbutton" onclick="messages('open')" id="showmessagesleftbar"><i class="fa fa-envelope"></i></button>
        <button class="sidebarbutton" onclick="url('/account/edit')"><i class="fa fa-cog"></i></button>
        <button class="sidebarbutton" onclick="url('/logout')"><i class="fas fa-sign-out-alt"></i></button>
        <% } else if(loggedin == false) { %>
        <button class="sidebarbutton" onclick="url('/login')"><i class="fas fa-sign-in-alt"></i></button>
        <button class="sidebarbutton" onclick="url('/signup')"><i class="fas fa-user-plus"></i></button>
        <% } %>
        <% if(moderator == true) { %>
        <button class="sidebarbutton" onclick="url('/mod')"><i class="fas fa-gavel"></i></button>
        <% } %>
        <button class="sidebarbutton" onclick="url('/latest')"><i class="fa fa-clock"></i></button>
        <button class="sidebarbutton" onclick="showmenu('show')" id="showmenu"><i class="fa fa-bars"></i></button>
        <span id="premiumsidebar"></span><br><br>
        <span class="sidebarleftbottom">
            <% if(loggedin == true) { %>
            <button class="sidebarbutton" onclick="url('/account')" style="padding: 5px;"><img width="40px"
                    src="/account/pfp"></button>
            <% } %>
        </span>
    </span>
</div>
<div class="sidebar sidebarextension hidden" id="sidebarext">
    <form action="/search" method="GET"
        style="width: 90%;margin-left: auto;margin-right: auto;display: block;padding: 5px;">
        <input name="q" type="text" class="input" placeholder="Search <%= name %>" style="width: 80%;">
        <button class="button" type="submit">Search</button>
    </form>
    <br>
    <button onclick='showmenu("hide")' class="button">Close Menu</button>
    <br><br>
    <span class="">
        <a href="/home">Home</a><br>
        <% if(loggedin == true) { %>
        <a href="/account/edit">Settings</a><br>
        <a href="/logout">Logout</a><br>
        <% } else if(loggedin == false) { %>
        <a href="/login">Login</a><br>
        <a href="/signup">Register</a><br>
        <% } %>
        <% if(moderator == true) { %>
        <a href="/mod">Moderators</a><br>
        <% } else {} %>
        <a href="/company/bugs">Report a Bug</a><br>
        <a href="/company">Company</a><br>
        <a href="/company/tos">Terms of Service</a><br>
        <a href="/company/pp">Privacy Policy</a><br>
        <span id="premiumsidebarext"></span><br><br>
        <button class="sidebarbutton" style="text-align: left;border-radius: 10px;width: 35%;">
            The Latest
            <br><br>
            <div class="expandcommentdiv latest" style="width: 95%;display: block;margin: auto;">

            </div>
        </button>
        <span>
            <p class="sidetext">
                &copy; 2020 to Present, <a class="navfooanoleftpad" href="/company"><%= name %></a>
            </p>
        </span>
    </span>
</div>