<div id="postModal" class="hidden post-box">
    <form action="/post/new" method="POST">
        <textarea type="text" placeholder="Your thoughts..." name="body" required></textarea><br>
            <input type="text" class="hidden" name="repost" value="false">
        <button type="submit">Submit</button>
    </form>
</div>