<!-- post popup -->
<div id="postModal" class="hidden postbox">
    <div id="newpostform">
        <form action="/post/new" method="POST" enctype="multipart/form-data">
            <h3 class="sharemodaltitle">
                New Post
                <button type="submit" class="button">Post</button>
                <button onclick="newPost('hide')" class="right closepopup" id="share_close" type="button"><i
                        class="lni lni-close"></i></button>
            </h3>
            <textarea type="text" placeholder="Your thoughts..." name="body" required class="newposttext"
                maxlength="1000" id="newpostinput" rows="1"></textarea><br>
            <p id="newpostcount" class="noheader charcount right">0</p><br>
            <input type="text" class="hidden" name="repost" value="false">
            <label for="image" class="input" style="width: 50%; cursor: pointer;"><i class="lni lni-camera"></i></label>
            <input type="file" accept="image/png, image/jpg, image/gif" class="input hidden" name="image"
                style="width: 50%;" value="Upload Image or Video" id="image">
            <!--<input type="file" accept="image/png, image/jpg, image/gif, video/mp4, video/webm" class="input hidden"
                name="image" style="width: 50%;" value="Upload Image or Video" id="image">-->
            <button type="submit" class="button">Post</button>
        </form>
    </div>
</div>

<!-- share popup -->
<div id="sharemodal" class="sharebox hidden">
    <h3 class="sharemodaltitle">
        Share Post
        <button onclick="shareclose()" class="right closepopup" id="share_close" type="button"><i
                class="lni lni-close"></i></button>
    </h3>
    <a target="_blank" class="shareicon" id="share_reddit_link"><span id="share_reddit"><i
                class="lni lni-32 lni-reddit"></i></span></a>

    <a target="_blank" class="shareicon" id="share_twitter_link"><span id="share_twitter"><i
                class="lni lni-32 lni-twitter"></i></span></a>

    <a target="_blank" class="shareicon" id="share_facebook_link"><span id="share_facebook"><i
                class="lni lni-32 lni-facebook"></i></span></a>

    <a target="_blank" class="shareicon" id="share_email_link"><span id="share_email"><i
                class="lni lni-32 lni-envelope"></i></span></a>
                
    <br><br>
    <input id="share_link" disabled class="input" style="color: white; width: 100%;"
        value="https://siddes.com/s/"><br><br>
    <input id="share_iframe" disabled class="input" style="color: white; width: 100%;"
        value="<iframe src='https://siddes.com/embed/{{postid}}' width='500' height='365'></iframe>">
    <br>
</div>

<!-- message box -->
<span id="messagestuff">
    <button class="sidebarbutton messagesbutton" id="showmessagesbottom" onclick="messages('open')">Messages</button>

    <div class="messagebox hidden" id="messagesbox">
        <div class="messagesnav">
            Messages
            <span class="right messagesx"><button onclick="messages('close')"><i
                        class="lni lni-close"></i></button></span>
        </div>
        <div class="row">
            <div class="column messagesection" style="width: 30%;">
                <div class="messagecolnav">Chats</div>
                <div class="dmbox">
                    <span class="chatselect" id="listofchats">
                        <p>Nothing here...</p>
                    </span>
                </div>
            </div>
            <div class="column messagesection" style="width: 70%;border-left: 1px rgb(204, 204, 204) solid;">
                <div class="messagecolnav" id="chattitle">Select Someone</div>
                <div class="dmbox">
                    <ul class="messages" id="messagescontainer">
                    </ul>

                    <span class="dmbottombar">
                        <label for="dmimageselect" class="dmimageselect">Images</label>
                        <input class="hidden" id="dmimageselect" type="file">
                        <input class="dminput" required id="sendmessageinput" placeholder="Message...">
                        <button class="dmsend right" type="submit" id="sendmessage">Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</span>

<!-- custom alert box -->
<div id="alertbox" class="customalertbox hidden">
    <h3 class="sharemodaltitle nobottompadmar">
        <span id="alerttitle">
            Alert
        </span>
        <button onclick="closealert()" class="right closepopup" id="share_close" type="button"><i
                class="lni lni-close"></i></button>
    </h3>
    <p class="alerttext" id="alerttext">
    </p>
</div>

<script src="/js/newpost.js"></script>