<!-- post popup -->
<div id="postModal" class="hidden postbox">
    <div id="newpostform">
        <form action="/post/new" method="POST" enctype="multipart/form-data">
            <h3 class="sharemodaltitle">
                New Post
                <button type="submit" class="button">Post</button>
                <button onclick="newPost('hide')" class="right closepopup" id="share_close" type="button">X</button>
            </h3>
            <textarea type="text" placeholder="Your thoughts..." name="body" required class="newposttext"
                maxlength="265" id="newpostinput" rows="1"></textarea><br>
            <p id="newpostcount" class="noheader charcount right">0</p><br>
            <input type="text" class="hidden" name="repost" value="false">
            <label for="image" class="input" style="width: 50%; cursor: pointer;"><i
                    class="fa fa-camera input"></i></label>
            <input type="file" accept="image/*" class="input hidden" name="image" style="width: 50%;"
                value="Upload Image" id="image">
            <button type="submit" class="button">Post</button>
        </form>
    </div>
</div>

<!-- share popup -->
<div id="sharemodal" class="sharebox hidden">
    <h3 class="sharemodaltitle">
        Share Post
        <button onclick="shareclose()" class="right closepopup" id="share_close" type="button">X</button>
    </h3>
    <a target="_blank" class="shareicon" id="share_reddit_link"><span id="share_reddit"><i
                class="fab fa-reddit shareicon fa-2x"></i></span></a>

    <a target="_blank" class="shareicon" id="share_twitter_link"><span id="share_twitter"><i
                class="fab fa-twitter shareicon fa-2x"></i></span></a>

    <a target="_blank" class="shareicon" id="share_facebook_link"><span id="share_facebook"><i
                class="fab fa-facebook shareicon fa-2x"></i></span></a>

    <a target="_blank" class="shareicon" id="share_email_link"><span id="share_email"><i
                class="fa fa-envelope shareicon fa-2x"></i></span></a>
    <br><br>
    <input id="share_link" disabled class="input" style="color: white; width: 100%;" value="https://siddes.com/s/">
    <br>
    <p class="smalltext"
        style="font-size: x-small; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
        Reddit, Twitter, and the Facebook logos belong to there respective trademark holders. Icons provided by
        Font-Awesome.
    </p>
</div>

<!-- message box -->
<button class="sidebarbutton messagesbutton" id="showmessagesbottom" onclick="messages('open')">Messages</button>

<div class="messagebox hidden" id="messagesbox">
    <div class="messagesnav">
        Messages
        <span class="right messagesx"><button onclick="messages('close')">X</button></span>
    </div>
    <div class="row">
        <div class="column messagesection" style="width: 30%;">
            <div class="messagecolnav">Chats</div>
            <div class="dmbox">
                <span class="chatselect" id="listofchats">
                    <p>Nothing here...</p>
                </span>
            </div>
        </div>
        <div class="column messagesection" style="width: 70%;border-left: 1px rgb(204, 204, 204) solid;">
            <div class="messagecolnav">Chat</div>
            <div class="dmbox">
                <ul class="messages" id="messagescontainer">
                </ul>

                <span class="dmbottombar">
                    <label for="dmimageselect" class="dmimageselect">Images</label>
                    <input class="hidden" id="dmimageselect" type="file">
                    <input class="dminput" required id="sendmessageinput" placeholder="Message...">
                    <button class="dmsend right" type="submit" id="sendmessage">Send</button>
                </span>
            </div>
        </div>
    </div>
</div>

<script src="/js/newpost.js"></script>