<topnavhomebutton class="topnavbarbutton">
    <% if (loggedin == true) { %>
    <button class="button left" onclick="history.back()" style="cursor: pointer;">
        <a class="nostylea"><i class="lni lni-chevron-left"></i></a>
    </button>
    <button class="button right"><a href="/home" class="nostylea"><i class="lni lni-home"></i></a></button>
    <% } else { %>
    <button class="button right" onclick="history.back()" style="cursor: pointer;">
        <a class="nostylea"><i class="lni lni-chevron-left"></i></a>
    </button>
    <% } %>
</topnavhomebutton>