<h3 class="headerred">Would you like to clear your account?</h3>
<p class="section">Their is no such thing as deleting your account. Clearing your account clears all your data but keeps
    the account in
    your possession. This will clear all data except for you username and email address. If you have Premium, this will
    clear your Premium.</p>
<button class="button section postcomment" onclick="const confirmclear = confirm('Are you sure you want to clear your account? This is irreversable.');
    if(confirmclear == true){ window.location='/account/clear/confirm'}">Clear
    Account</button><br>