<h3>Would you like to delete your account?</h3>
<button
    onclick="const confirmDelete = confirm('Are you sure you want to delete your account? This is irreversable.'); if(confirmDelete == true){ window.location='/account/delete/confirm'}">Delete</button><br>