<h3 class="header">Developer</h3>
<div class="section">
    <p>You can find the developer documentation <a href="/account/developer/docs" class="link">here</a>. (there is no
        current use for API keys)</p>
    <button onclick="regeneratekey()" class="button">Regenerate API Key</button>
</div>
<script src="/js/api_helper.js"></script>