<form action="/post/new" method="POST">
    <textarea name="body" required><%= text %></textarea>
    <% if(repost == 'true') { %>
    <input type="text" class="hidden" name="repost" value="true">
    <% } else { %>
    <input type="text" class="hidden" name="repost" value="false">
    <% } %>
    <br>
    <button type="submit">Post</button>
</form>