<style>
    #chatForm {
        background: #fff;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #chatForm input {
        border: 1px rgb(219, 219, 219) solid;
        border-radius: 2000px;
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    @media only screen and (max-width: 840px) {
        #chatForm input {
            width: 98%;
        }
    }

    @media only screen and (min-width: 841px) {
        #chatForm input {
            width: 78%;
        }
    }

    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #messages li {
        padding: 5px 10px;
        border-bottom: 1px rgb(219, 219, 219) solid;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<h3 class="header">Premium Live Chat</h3>
<ul id="messages"></ul>
<div class="hidden" id="latestmessage"></div>
<form action="/" method="POST" id="chatForm">
    <input id="txt" autocomplete="off" autofocus="on" placeholder="Thoughts..." />
</form>
<script>
    var socket = io.connect('http://localhost:3000');

    $('form').submit(function (e) {
        e.preventDefault();
        socket.emit('chat_message', $('#txt').val());
        $('#txt').val('');
        return false;
    });

    socket.on('chat_message', function (msg) {
        $('#messages').append($('<li>').html(msg));
        window.scrollBy(0, 500000000);
    });

    socket.on('is_online', function (username) {
        $('#messages').append($('<li>').html(username));
        window.scrollBy(0, 500000000);
    });

    socket.emit('username', '<%= username %>');
</script>