<h3 class="header">Welcome, <%= username %></h3><br>
<p class="headerred">Here are some premium services</p><br>
<ul>
    <li><a href="/premium/live" class="nostylea link">Premium Only Group Chat</a></li>
</ul>