<h1 class="header">404 - Not Found</h1><br>
<h3 class="noheader">Have an animal</h3>
<img src="" id="404_img" class="banner" style="width: 400px;margin: auto;display: block;">

<script>
    document.getElementById('404_img').setAttribute("src", "https://source.unsplash.com/random?animal&" + Math.random())
</script>