<h3 class="header nobottompadmar">Privacy Policy</h3><br>
<span>
    <a href="/files/privacypolicy.pdf" download class="headerred smalltext">Download Privacy Policy</a>
</span>
<br>
<br>
<iframe width="90%" height="600px" style="border: none;margin-left: auto;margin-right: auto;display: block;" src="/files/privacypolicy.pdf">
    Loading...
</iframe>