<h3 class="header">Developer</h3>
<div class="section">
    <p>Documentation can be found <a href="/account/developer/docs">here</a>.</p>
    <p>Your API key can be found <a href="/account/developer">here</a>.</p>
</div>