<h3 class="header">Home Feed</h3>
<% for(i=0;i < comments.length;i++) { %>
<div class="postdiv">
    <div style="cursor: pointer;" onclick="window.location='/s/<%= postlink[i] %>'">
        <p class="postowner">
            <a class="postownerlink">
                Someone commented on your posts...
            </a>
        </p>
        <p class="postbody">
            "<%= comments[i] %>"
        </p>
    </div>
</div>
<% } %>