<h3 class="header">Home Feed</h3>
<br>
<div id="posts" class="tab">
    <%- include('../partials/posts') %>
    <% if(posts.length == 0) { %>
    <p class="headerred">Nothing in your home feed. Start following people to get stuff in your feed!</p>
    <% } %>
</div>
<div style="display: flex;justify-content: center;" class="postdiv">
    <style>
        .pagination {
            padding-left: 10px;
            padding-right: 10px;
            margin: 5px;
        }
    </style>
    <%- include('../partials/pagination') %>
</div>