<h3 class="header">Home Feed</h3>
<% for(i=0;i < feed.length;i++) { %>
<div class="postdiv">
    <div style="cursor: pointer;" onclick="window.location='<%= feedlinks[i] %>'">
        <p class="postowner">
            <a class="postownerlink">
                <%= feedtype[i] %>
            </a>
        </p>
        <p class="postbody">
            "<%= feed[i] %>"
        </p>
    </div>
</div>
<% } %>