<h3 class="header"><i class="lni lni-alarm-clock"></i> The Latest</h3>
<br>
<div id="posts" class="tab">
    <%- include('../partials/posts') %>
</div>
<div style="display: flex;justify-content: center;" class="postdiv">
    <style>
        .pagination {
            padding-left: 10px;
            padding-right: 10px;
            margin: 5px;
        }
    </style>
    <%- include('../partials/pagination') %>
</div>