<h3 class="header">Login</h3>
<form action="/login" method="POST" class="section">
    <div>
        <label for="username">Username</label>
        <input type="username" class="input" id="username" name="username" placeholder="Enter Username" required />
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="password" class="input" id="password" name="password" placeholder="Enter Password" required />
    </div>
    <br>
    <% if(error == undefined || error == '' || !error){} else { %>
    <p class="error"><%= error %></p>
    <% } %>
    <button type="submit" class="button">Login</button>
</form>
<p class="section">
    No Account? <a href="/signup" class="nostyle">Signup</a>
</p>