<form action="/login" method="POST">
    <h1>Login</h1>
    <div>
        <label for="username">Username</label>
        <input type="username" id="username" name="username" placeholder="Enter Username" required />
    </div>
    <br>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password" required />
    </div>
    <br>
    <button type="submit">Login</button>
    <br>
    <p>
        No Account? <a href="/signup">Signup</a>
    </p>
</form>