<h3 class="headerred">Report a Post</h3>
<div class="section">
    <form action="/report" method="POST">
        <select name="reason" id="reason" required class="input">
            <optgroup label="Reason For Report">
                <option value="childporn">Child Porn</option>
                <option value="porn">Porn</option>
                <option value="gore">Extreme Gore</option>
                <option value="illegal">Illegal Activity Portrayed</option>
                <option value="copyrigt">DMCA Request</option>
                <option value="other">Other</option>
            </optgroup>
        </select>
        <input required="required" class="hidden" type="text" value="<%= postid %>" name="post">
        <br><br>
        <button type="submit" class="button">Submit Report</button>
    </form>
</div>