<style>
    .input {
        width: 95%;
    }
</style>
<div class="row">
    <div>
        <h3 class="header">Signup</h3>
        <div class="section">
            <form action="/signup" method="POST">
                <div>
                    <input type="username" class="input" id="username" name="username" placeholder="username" value=""
                        required pattern="\S+" />
                </div>
                <br>
                <div>
                    <input type="password" class="input" id="password" name="password" placeholder="password" value=""
                        required />
                </div>
                <br>
                <div>
                    <input type="password" class="input" id="password2" name="password2" placeholder="confirm password"
                        value="" required />
                </div>
                <div>
                    <p style="padding-left: 0;margin-left: 0;">
                        <input type="checkbox" required checked>
                        I agree to the <a href="/company/tos" class="nostyle">Terms of
                            Service</a> and <a href="/company/pp" class="nostyle">Privacy Policy</a>.
                    </p>
                </div>
                <% if(error == undefined || error == '' || !error){} else { %>
                <div>
                    <p class="error">
                        <%= error %>
                    </p>
                </div>
                <% } %>
                <p style="padding-left: 0;margin-left: 0;"><button type="submit" class="button">Register</button> Have
                    an
                    account? <a class="nostyle" href="/login">Login</a>
                </p>
            </form>
        </div>
    </div>
    <div>
        <h4 class="header nobottompadmar">FAQ</h4>
        <span class="section">
            <p><b>Do you track me?</b></p>
            <p style="margin-left: 40px;">Nope, never. <a href="https://media.siddes.com/#mission">Read More</a></p>
            <p><b>Why don't you need my email?</b></p>
            <p style="margin-left: 40px;">Because we don't want it. It is an uneccessary liability and we are privacy
                focused and don't think an email should be required for everything.</p>
            <p><b>How can I reset my password?</b></p>
            <p style="margin-left: 40px;">You can go to your account settings and change it their.</p>
        </span>
    </div>
</div>