<h3 class="header nobottompadmar">About Us</h3>
<p class="section"><a href="/"><%= name %></a> was built for one reason, to bring privacy to social medias. While we
    still collect some
    stuff like emails, we do it carefully. Everything is encrypted, especially your password. Passwords are encrypted
    using 'Salt 10' encryption, this is military grade encryption. Our ads are not targeted, they are completely
    random.<br><br>If you have any questions, please email us at <a
        href="mailto:support@socialmedia.com">support@socialmedia.com</a>.</p>