<h3 class="header nobottompadmar">Contact</h3><br>
<h4 class="headerred nobottompadmar">Email</h4>
<p class="section">
    For general inquiries: <a href="mailto:support@siddes.com">support@siddes.com</a><br>
    For business inquiries: <a href="mailto:andrew@siddes.com">andrew@siddes.com</a><br>
    For development and privacy inquiries: <a href="mailto:alec@siddes.com">alec@siddes.com</a><br>
</p>