<h3 class="header">How to Use <%= name %></h3>
<p class="section"><%= name %> can be hard to use at first, so we created this how-to guide on how to get the most out
    of the site!</p>
<h4 class="header nobottompadmar">Finding Content</h4>
<p class="section">What's the easiest way to find content? We suggest first understanding the basics, the search bar
    is
    at the top right. To swich to a user search, press "Search Users for X" where X is the search term. To find
    hastags, you can click any hashtag on any post or go to "/tag/X" where X is the hashtag.<br><br>To first find
    content you should find someone you are interested in and follow them. Using the information you just learned,
    search users for "a", this is the lead developer of the site. If you like what he posts, press the "follow"
    button
    at the top of the screen.</p>
<h4 class="header nobottompadmar">Liking and Interacting With Posts</h4>
<p class="section">To like a post, make sure you are logged in. After that, once you find a post that you agree with
    or like, press the "like" button in the bottom right of the post. To place a comment, simply click the comment
    input box. Then type what you want in that box and press the "comment" button! To go to a post, simply press
    anywhere on the post. This will take you to the post page where you can read comments and interact with the post.
</p>
<h4 class="header nobottompadmar">Other</h4><br>
<h5 class="header nobottompadmar">Reporting Content</h5>
<p class="section">To report a post, press the report button in the top right of the post. If the report button says
    "Under Review", that means a moderator is currently reviewing the post. If it says "Approved", that means it has
    already been approved by a moderator. You can only report a post if the report button says "Report". Once you report
    a post, a moderator will review it shortly.</p>
<h5 class="header nobottompadmar">Editing Your Account</h5>
<p class="section">When you are logged in, you should see an "Edit Account" link on the navbar. Press this link to open
    a page with different items to edit. You can change your display name, username, email, bio, profile picture, and
    banner. To save these changes press "Save".</p>e3