<h3 class="header nobottompadmar">Releases</h3><br>
<span>
    <p class="noheader smalltext">Shhhhh (this is a secret page!)</p>
</span>
<div class="fullsection">
    <h4>0.9.7 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>all the user icons are there (premium, verified, dev, staff, bets tester)</li>
        <li>cant login without verified email (prevents spam)</li>
        <li>errors are now visible and understandable on login/signup forms</li>
        <li>added how-to page for the site</li>
        <p>Server Side</p>
        <li>added verified boolean under user model in mongoose</li>
        <li>/latest now only loads 20 results at a time and paginates</li>
        <li>if error on login/signup POST send the error to the client</li>
        <li>email verification to prevent spam</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.6 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added pagination controls</li>
        <li>tried to get infinite scroll for a couple hours but settled for paginations</li>
        <p>Server Side</p>
        <li>implemented pagination for the sake of Mongo and the sake of the users browser</li>
        <li>weekly backups script it generates information on those backups too</li>
        <li>fixed bug not allowing you to make posts without images</li>
        <li>general improvements</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.5 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Server Side</p>
        <li>when images are uploaded, they now go to /usergenerated/largeimages</li>
        <li>after <a href='https://npmjs.com/sharp' target="_blank">sharp</a> compresses the images, it duplicates them
            into /usergenerated/images and deletes the file in /usergenerated/largeimages</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.4 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added inputs for profile pictures and banners</li>
        <p>Server Side</p>
        <li>storing images using multer</li>
        <li>detects what image(s) you upload, if any at all, are for (banner or pfp)</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.3 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added image input buttons on new post forms</li>
        <p>Server Side</p>
        <li>you can now upload images as posts</li>
        <li>implemented multer for images</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.2 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Made some final section related CSS changes</li>
        <li>Added the only secret link to this page on footer when you press the version number</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.1 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Redid CSS for the entire site</li>
        <li>Changed the like buttons for the posts page</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.8.9 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Created embed look</li>
        <p>Server Side</p>
        <li>New routes for embeds</li>
        <li>Embed templates</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.8.8 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>The POST request for likes now happens using jQuery so the page does not reload</li>
        <p>Server Side</p>
        <li>Organization of routes</li>
        <li>Security fixes</li>
    </ul>
</div>