<h3 class="header nobottompadmar">Release Notes</h3><br>
<span>
    <p class="noheader smalltext">Shhhhh (this is a secret page!)</p>
</span>
<div class="fullsection">
    <h4>1.0.8 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Biggest Change</p>
        <li>DMs for mobile!</li>

        <p>Client Side</p>
        <li>repost badge is now green and helvetica</li>
        <li>weird padding on notifications is fixed</li>
        <li>weird margins on post fixed</li>
        <li>when a new version is released, the cache for siddes.com automatically resets</li>
        <li>"The Latest" now shows up wider on mobile devices so it doesnt look stretched</li>
        <li>boards now showup on the mobile menu</li>
        <li>when zoomed in you can now see the right sidebar footer text behinf the messages button</li>
        <li>added new theme called flipped alt, it is all black and white except for a few things</li>
        <li>there is now an explore page for boards (/boards/explore)</li>

        <p>Server Side</p>
        <li>reposts are now easier to use and automatic</li>
        <li>reposts now include media that was on the original post</li>
        <li>more topics available for boards to admins</li>
        <li>the follow button on board actually works now</li>
        <li>posts now show what board they were posted in if any</li>

        <p>Notes</p>
        <li>if youfind any bugs with dms for mobile, please report it <a href="/company/bugs">here</a> or DM an admin
        </li>
        <li>thank you for being a beta tester :) from <a class="mention" href="/404">@404</a></li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.7 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>added robotstxt for seo and crawler permissions</li>
        <li>added sitemap for seo and crawlers</li>
        <li>added meta information in the base ejs template for better seo</li>
        <li>on big screens, the search bar is now on the right sidebar</li>
        <li>on small screens, the search bar is on the top of the screen as a nav</li>
        <li>all the rarely used buttons are in a hover state on your profile icon in the bottom left</li>
        <li>fixed posts not formatting correctly (eg: line breaks)</li>
        <li>your home feed is now posts and stuff made by users you follow</li>
        <li>dms now sort and look correct</li>
        <li>there is a list of the latest three boards on the right</li>
        <li>admins can create new boards</li>
        <li>you can find boards at /b/:boardname</li>

        <p>Server Side</p>
        <li>created the boards url definition (/b/:boardname or /board/:boardid (redirects to /b/:boardname))</li>
        <li>posts can now be 1000 characters long (used to be 265)</li>
        <li>fixed routes for notifications</li>
        <li>/home is now posts by users you follow</li>
        <li>dms now update live every one second</li>
        <li>admins can create new boards</li>
        <li>boards routing done</li>

        <p>Notes</p>
        <li>from now on, if you are worried about legal issues, check for a warant canary in the source code of the site
        </li>
        <li>please experiment and use the new dms</li>
        <li>boards can onnly be created by admins, this is to prevent thousands of useless boards being made. we don't
            want to be a reddit clone.</li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.6 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>retro theme removed (will be reimplemented in a later version)</li>
        <li>comments can now be made on mobile</li>
        <li>hopefully fixed Infinity likes bug</li>
        <li>new post modal is now mobile friendly</li>
        <li>comment reply box is on comments now</li>

        <p>Server Side</p>
        <li>fixed like button go crazy high in count</li>
        <li>you can now reply to comments</li>
        <li>comment reply data handling</li>
        <li>you cant duplicate an account with just changed case ex: "a" and "A"</li>

        <p>Notes</p>
        <li>development on boards (like reddit communities) has started please see <a
                href="/company/roadmap">roadmap</a></li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.5 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>fixed some general blimishes</li>
        <li>fixed user pfp not showing on posts and sidebars</li>
        <li>added errors</li>
        <li>404 pages have a random animal picture</li>
        <li>fixed pfp and banner uploads when both are changed for client</li>
        <li>added favicon and optimized images for launch</li>
        <li>the latest section on sidebar now shows images too</li>

        <p>Server Side</p>
        <li>fixed some internal api routes like /account/pfp and /account/:id/banner</li>
        <li>fixed pfp and banner uploads when both are changed for server</li>
        <li>server will only return posts for the latest section if they are not sensitive and they are approved</li>

        <p>Notes</p>
        <li>support for IE &#60; 9 has been dropped</li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.5-pre-release (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>images are now imgur</li>

        <p>Server Side</p>
        <li>images are now uploaded to imgur</li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.4-supplemental (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>fixed the Message button on profiles unfollowing that user</li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.4 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>added link to 'a privacy blog, <a href="https://blog.siddes.com">available here</a></li>
        <li>server status is now public, <a href="/company/status">available here</a></li>
        <li>added a lot API documentation, <a href="/account/developer/docs">available here</a></li>
        <li>heroku site will now redirect to the siddes.com website</li>
        <li>the repost button is now hidden on small screen devices, like phones, so the view is not distorted</li>
        <li>expand comments button is now never hidden to move the like and share buttons off the top border of below
            post</li>
        <li>removed all hints of an email being required</li>

        <p>Server Side</p>
        <li>when somone starts a dm with you it goes to your feed</li>
        <li>added database health report for admins</li>
        <li>an email is not required</li>
        <li>fixed broken signup bug because ban/sus reasons were required</li>

        <p>Notes</p>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.3 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>fixed left padding on some 'p' tags inside of 'div's with 'section' class</li>
        <li>changed some analytics views for admins</li>
        <li>added link to insta account</li>
        <li>removed entire ugly navbar</li>
        <li>created a fully functional left side bar with more information than nav</li>
        <li>redid the right sidebar and added small links at bottom</li>
        <li>created right box for the latest 3 posts</li>
        <li>added direct message box and buttons</li>
        <li>redid and added columns to the footer</li>
        <li>added a lot of icons to different buttons and links</li>
        <li>you can now 'expand' comments to show them on the same page without going to a new page</li>
        <li>posts now show the posters pfp and displayname and username</li>
        <li>redid styling on analytics numbers view</li>

        <p>Server Side</p>
        <li>created dms functionality and models</li>
        <li>added endpoint to get latest three posts</li>
        <li>working functionality to add more dms to your list</li>
        <li>expand functionality to show top 20 comments</li>
        <li>fixed typo when an admin suspends your account</li>
        <li>analytics now shows 400 instead of 5 at max</li>
        <li>analytics are now available to anyone for transparency, <a href="/company/analytics">view here</a></li>
        <li>added instagram redirect</li>

        <p>Notes</p>
        <li>dms now exist, please dont abuse. also, please report any bugs to us at /company/bugs</li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.2 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>redid the company pages (<a href="/company">/company</a>)</li>
        <li>added privacy policy, <a href="/company/pp">available here</a></li>
        <li>added terms of service, <a href="/company/tos">available here</a></li>
        <li>added a roadmap for future update, <a href="/company/roadmap">available here</a></li>
        <li>reordered and added tos and pp link on sidebar and footer</li>
        <li>added a page to appeal suspensions and bans</li>

        <p>Server Side</p>
        <li>redid the company routes (<a href="/company">/company</a>)</li>
        <li>added redirects (eg: <a href="/redirects/github">/redirects/github</a>)</li>
        <li>when your account is suspended it is added to your feed</li>
        <li>when your account is upload ban it is added to your feed</li>
        <li>when your account is unsuspended it is added to your feed</li>
        <li>when your accounts upload ban is removed it is added to your feed</li>
        <li>you can now appeal a suspension</li>
        <li>you can now appeal an upload ban</li>
        <li>moderators now have a list of upload banned users that have appealed the ban</li>
        <li>admins now have a list of suspended users that have appealed the suspension</li>

        <p>Notes</p>
        <li>public beta and permanent url will be moving to <a href="https://siddes.com">siddes.com</a></li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.1 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>added css for dark and retro themes</li>
        <li>added theme switcher in account settings</li>
        <li>added som styling to clear account page</li>
        <li>fixed link to api docs</li>
        <li>added share popup modal for posts</li>
        <li>mods now have buttons to post ban and suspend account</li>
        <li>if an account is post banned, they wont be able to create a new post</li>
        <li>if an account is suspended, there account will not be visible and it will say they have been suspended</li>
        <li>small screens that dont see the sidebar now have a popup menu instead</li>
        <li>anonymous analytics, the only analytics kept is page views. you can see for yourself, the analytics are in
            the 'analytics' function in <a href="/js/index.js">this code</a></li>
        <li>admins can now see analytics in chart, table, and raw data form</li>
        <li>redid the new post popup</li>
        <li>added transparency report at <a href="/company/transparency">/company/transparency</a></li>

        <p>Server Side</p>
        <li>added theme saver for POST to /account/edit</li>
        <li>processes ban and account suspension</li>
        <li>will ban and suspend accounts based off of that ^</li>
        <li>when rendering pages, "posts", is now a partial for ease of updating</li>
        <li>easy route for accounts pfp</li>
        <li>easy route for accounts banner</li>
        <li>fixed redis caching library</li>

        <p>Client & Server Side</p>
        <li>posts are now limited to 265 characters (300 originally)</li>

        <p>Notes</p>
        <li>themes default to dark mode, if you are not logged in, it defaults to dark mode too</li>
        <li>if a tag lookup yields results that dont include that tag, please ignore this, we are working on a fix</li>
    </ul>
</div>
<div class="fullsection">
    <h4>1.0.0 (Beta)</h4>
    <p>Public Beta</p>
    <ul>
        <p>Client Side</p>
        <li>admins will now see admin links on /mod but non admins wont</li>
        <li>removed 'edit account' from navbar changed 'edit account' to settings on sidebar</li>
        <li>fixed version number not loading correctly</li>
        <li>added premium pricing page for non premium users</li>
        <li>fixed some titles</li>
        <li>moved static items to https://static-cdn.siddes.com</li>
        <li>added logos to the site using the stawtic cdn</li>

        <p>Server Side</p>
        <li>more efficient returning 404 on posts not found</li>
        <li>API see <a href="/account/developer/docs">API Docs</a></li>
        <li>redid api routing</li>
        <li>implemented post making api, requires key</li>
        <li>implemented comment making api, requires key</li>
        <li>implemented feed fetching api, requires key</li>
        <li>api to get the latest stuff, key required to limit abuse</li>
        <li>like/unlike api</li>

        <p>Notes</p>
        <li>We are hoping to crate a fully functional API. In order to do this, we need testers. If you can, please use
            and experiment with the API.</li>
        <li>After the API is pretty well finished, we will be implementing OAuth 2.0</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.9 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>if you are logged in, it shows the 'feed' and 'latest' link in navbar</li>
        <li>if you are not logged in, it shows the 'latest' link in navbar</li>
        <li>fixed padding on sidebar links</li>
        <li>added style to sidebar and footer links</li>
        <li>redid developer page wording</li>
        <li>fixed premium(function) adding unnecessary padding to premium links</li>
        <li>removed dots from navbar</li>
        <li>added styling to search bar</li>
        <li>repost badge now shows properly on a posts main webpage</li>
        <p>Server Side</p>
        <li>/ now redirects to /home if you are logged in</li>
        <li>/ now redirects to /latest/0 if you are not logged in</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.8 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added the maintenance page</li>
        <p>Server Side</p>
        <li>devs can now easily turn maintenance mode on or off</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.7 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>all the user icons are there (premium, verified, dev, staff, bets tester)</li>
        <li>cant login without verified email (prevents spam)</li>
        <li>errors are now visible and understandable on login/signup forms</li>
        <li>added how-to page for the site</li>
        <p>Server Side</p>
        <li>added verified boolean under user model in mongoose</li>
        <li>/latest now only loads 20 results at a time and paginates</li>
        <li>if error on login/signup POST send the error to the client</li>
        <li>email verification to prevent spam</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.6 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added pagination controls</li>
        <li>tried to get infinite scroll for a couple hours but settled for paginations</li>
        <p>Server Side</p>
        <li>implemented pagination for the sake of Mongo and the sake of the users browser</li>
        <li>weekly backups script it generates information on those backups too</li>
        <li>fixed bug not allowing you to make posts without images</li>
        <li>general improvements</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.5 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Server Side</p>
        <li>when images are uploaded, they now go to /usergenerated/largeimages</li>
        <li>after <a href='https://npmjs.com/sharp' target="_blank">sharp</a> compresses the images, it duplicates them
            into /usergenerated/images and deletes the file in /usergenerated/largeimages</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.4 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added inputs for profile pictures and banners</li>
        <p>Server Side</p>
        <li>storing images using multer</li>
        <li>detects what image(s) you upload, if any at all, are for (banner or pfp)</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.3 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>added image input buttons on new post forms</li>
        <p>Server Side</p>
        <li>you can now upload images as posts</li>
        <li>implemented multer for images</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.2 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Made some final section related CSS changes</li>
        <li>Added the only secret link to this page on footer when you press the version number</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.1 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Redid CSS for the entire site</li>
        <li>Changed the like buttons for the posts page</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.8.9 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Created embed look</li>
        <p>Server Side</p>
        <li>New routes for embeds</li>
        <li>Embed templates</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.8.8 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>The POST request for likes now happens using jQuery so the page does not reload</li>
        <p>Server Side</p>
        <li>Organization of routes</li>
        <li>Security fixes</li>
    </ul>
</div>