<h3 class="header">Releases</h3>
<div class="section">
    <h4>1.0</h4>
    <p>Initial Beta Release</p>
    <ul>
        <p>Initial Launch</p>
        <li>Posts</li>
        <li>Moderation</li>
        <li>Comments</li>
        <li>Premium Features</li>
        <br>
        <p>Server Side</p>
        <li>Caching</li>
        <li>Full Database setup</li>
    </ul>
</div>