<h3 class="header nobottompadmar">Releases</h3><br>
<span>
    <p class="noheader smalltext">Shhhhh (this is a secret page!)</p>
</span>
<div class="fullsection">
    <h4>0.9.2 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Made some final section related CSS changes</li>
        <li>Added the only secret link to this page on footer when you press the version number</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.9.1 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Redid CSS for the entire site</li>
        <li>Changed the like buttons for the posts page</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.8.9 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>Created embed look</li>
        <p>Server Side</p>
        <li>New routes for embeds</li>
        <li>Embed templates</li>
    </ul>
</div>
<div class="fullsection">
    <h4>0.8.8 (Beta)</h4>
    <p>Developer Release</p>
    <ul>
        <p>Client Side</p>
        <li>The POST request for likes now happens using jQuery so the page does not reload</li>
        <p>Server Side</p>
        <li>Organization of routes</li>
        <li>Security fixes</li>
    </ul>
</div>