<h3 class="header">Roadmap</h3><br>
<span>
    <h4 class="headerred nobottompadmar">In Development</h4>
    <ul class="colwhite">
        <li>NA</li>
    </ul>
</span>
<span>
    <h4 class="headerred nobottompadmar">Ideas</h4>
    <ul class="colwhite">
        <li>boards, <a href="#boards">read more</a></li>
    </ul>
</span>

<h3 class="header">Read More</h3><br>
<div id="boards" class="postdiv">
    <h4 class="headerred nobottompadmar">Boards</h4><br>
    <a class="noheader smalltext">Date: November 10th, 2020</a>
    <span class="section">
        <p>
            Boards will be something like Reddit&trade; communities but structured as YouTube&trade; topics.
            <br><br>
            Boards will be voted on by the community and every week a new board is created. The new board that will be
            created is the board with the most votes by the community.
            <br><br>
            Boards will be centered around topics like the NFL&trade;. Each board will use an algorithm to find posts
            related
            to that board. When someone visits this board, there will be a live chat that is only about that board on
            the right. On the left will be the posts about this topic. Sortable by relevance, date, or like count.
            <br><br>
            While on a board, users will be able to make posts only for that board. These type of posts will only show
            up on that board. They will not show up by tags, searches, or user accounts. The live chat will be only for
            premium users.
            <br><br>
            To participate in voting on new boards, your account must meet standards to make sure these boards are not
            spammed. To post on these boards, your account also must meet these standards.
            <br><br>
            Please see an example image below.
            <br><br>
            <img src="/img/roadmap/ideas/boards.svg" style="width: 100%;">
        </p>
    </span>
</div>