<h1 class="header nobottompadmar">Transparency</h1>
<div class="section">
    <p>We want to be completely transparent about everything we do, we created this page to breakdown everything we
        do and why.</p>
</div>
<div class="postdiv">
    <span class="section">
        <h3 class="headerred">Table of Contents</h3>
        <ul class="colwhite">
            <li><a href="#userdata">User Data we Store</a></li>
            <li><a href="#urls">URLs</a></li>
            <li><a href="#reports">Reports</a></li>
        </ul>
    </span>
</div>
<div class="postdiv">
    <span class="section">
        <h3 class="headerred" id="userdata">User Data we Store</h3>
        <p>This is a list of what we store:</p>
        <ul class="colwhite">
            <li>username</li>
            <li>display name</li>
            <li>email</li>
            <li>password</li>
            <li>description</li>
            <li>profile picture</li>
            <li>banner picture</li>
            <li>following</li>
        </ul>
    </span>
</div>
<div class="postdiv">
    <span class="section">
        <h3 class="headerred" id="urls">URLs</h3>
        <p>This is a list of publicly available URLs:</p>
        <p class="nopadmar">if we missed one, please contact us (api urls are not shown)</p>
        <ul class="colwhite">
            <h4 class="header">User Accounts</h4>
            <li>/:username (redirects to /:username/0)</li>
            <li>/:username/:page (shows the user and page)</li>
            <li>/:username/following (shows who an account is following)</li>

            <h4 class="header">General URLs</h4>
            <li>/latest (redirects to /latest/0)</li>
            <li>/latest/:page (shows the latest posts available on that page)</li>
            <li>/s/:id (shows the post with that id)</li>
            <li>/account/developer/docs (shows the developer documentation)</li>
            <li>/report?postid=:id (shows you the report page for the postid)</li>
            <li>/search?q=:query (redirects to /search/0?q=:query)</li>
            <li>/search/:page?q=:query (shows results for your query and page)</li>
            <li>/tag/:page/:tag (shows you the hashtag and page results)</li>

            <h4 class="header">Logged In</h4>
            <li>/ (redirects to /home)</li>
            <li>/home (shows your 40 feed objects)</li>
            <li>/logout (logs you out of your account)</li>
            <li>/account (redirects to /:yourusername)</li>
            <li>/account/edit (lets you edit your account)</li>
            <li>/account/clear (lets you clear your account)</li>
            <li>/account/developer (shows you your unique confidential api key)</li>
            <li>/login (redirects you to /accountm)</li>
            <li>/signup (redirects you to /accountm)</li>
            <li>/account/new (new post page)</li>

            <h4 class="header">Not Logged In</h4>
            <li>/ (redirects to /latest)</li>
            <li>/home (redirects you to /latest)</li>
            <li>/logout (redirects you to the /login)</li>
            <li>/account (redirects to /login)</li>
            <li>/account/edit (redirects to /login)</li>
            <li>/account/clear (redirects to /login)</li>
            <li>/account/developer (redirects to /login)</li>
            <li>/login (shows you the login form)</li>
            <li>/signup (shows you the signup form)</li>
            <li>/account/new (redirects you to /account)</li>

            <h4 class="header">Company</h4>
            <li>/company/about (shows you the about page)</li>
            <li>/company/transparency (shows you the transparency report)</li>
            <li>/company/releases (all the releases and the changes they had)</li>
            <li>/company/bugs (survey monkey form to submit a bug)</li>

            <h4 class="header">Premium</h4>
            <p class="nopadmar">(if you dont have premium it redirects to /premium/pricing)</p>
            <li>/premium (shows you the premium services)</li>
            <li>/company/live (a giant live chat of all the premium users)</li>

            <h4 class="header">Non-Premium</h4>
            <p class="nopadmar">(if you have premium it redirects to /premium)</p>
            <li>/premium/pricing (shows you the premium pricing page)</li>

            <h4 class="header">Moderators</h4>
            <p class="nopadmar">(if you are not an admin or mod it redirects to /account)</p>
            <li>/mod (shows moderators all of the mod links)</li>
            <li>/mod/reports (shows all the reported posts and buttons to approve, remove, or approve as sensitive, <a
                    href="#reports">learn more on reports</a>)</li>

            <h4 class="header">Admin</h4>
            <p class="nopadmar">(if you are not an admin or mod it redirects to /account)</p>
            <li>/mod (shows mods and admins all of there links)</li>
            <li>/admin/redis/flush (flushes redis [our cache])</li>
            <li>/admin/analytics (shows the little analytics we have here, <a href="#analytics">learn more on
                    analytics</a>)
            </li>
        </ul>
    </span>
</div>
<div class="postdiv">
    <span class="section">
        <h3 class="headerred" id="reports">Reports</h3>
        <p>
            Reporting content can be very confusing, but it was built to be easy to use and to reduce spam.
            <br><br>
            The report button will take you to /report?postid=:id, this will bring up a dropdown of why you are
            reporting
            this post. When a post is reported, it moves to a list available to moderators and admins, this list shows
            all
            reported posts. It also shows them links to approve or remove posts.
            <br><br>
            When a post is reported but not approved or removed, it will show an under review tag in the report status.
            <br><br>
            When a moderator approves a post it is checked as approved in the database. If a post is approved, it cannot
            be
            reported again. We do this to keep spammy reports to a minimum. If a post is approved, you'll see the word
            "Approved" instead of a report link in the report tag of a post.
            <br><br>
            When a moderator removes a post, it is completely deleted, no trace whatsoever. We do this to keep privacy
            at
            its max and never store uneeded data.
            <br><br>
            When a moderator approves a post as sensitive, it does not delete the post but instead does not show on main
            pages like account pages, search results, or hashtag pages. The only way to see the contents of this post is
            to
            go to /s/:postid.
        </p>
    </span>
</div>