/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.expandcommentdiv {
    background-color: rgb(241, 241, 241);
    padding: 5px;
    padding-top: 1px;
    border-radius: 10px;
}

.chat {
    background-color: rgb(236, 236, 236) !important;
    border: none !important;
}