<h3 class="header nobottompadmar">Moderators</h3><br>
<ul>
    <li><a class="hashtag helvetica" href="/mod/reports">Reports</a><br></li>
    <li><a class="hashtag helvetica" href="/mod/viewappeals">View Upload Ban Appeals</a><br></li>
    <li><a class="hashtag helvetica" href="/company/analytics">Analytics</a><br></li>
</ul>
<% if(admin == true) { %>
<h3 class="header nobottompadmar">Admins</h3><br>
<ul>
    <li><a class="hashtag helvetica" href="/admin/report">Database Report</a><br></li>
    <li><a class="hashtag helvetica" href="/admin/board/create">Create Inside</a><br></li>
    <li><a class="hashtag helvetica" href="/admin/redis/flush">Redis Flush</a><br></li>
    <li><a class="hashtag helvetica" href="/admin/viewappeals">View Suspension Appeals</a><br></li>
</ul>
<% } %>