<h3 class="header nobottompadmar">Moderators</h3><br>
<p class="noheader nobottompadmar">Links:</p>
<ul>
    <li><a class="link" href="/mod/reports">Reports</a><br></li>
</ul>
<% if(admin == true) { %>
<h3 class="header nobottompadmar">Admins</h3><br>
<p class="noheader nobottompadmar">Links:</p>
<ul>
    <li><a class="link" href="/admin/redis/flush">Redis Flush</a><br></li>
    <li><a class="link" href="/admin/analytics">Analytics</a><br></li>
</ul>
<% } %>